<div class="article-all"><p>投稿一覧</p></div>
<div class="card-columns">
  <% tweets.each do |tweet| %>
    <div class="card mt-3" >
      <%= link_to image_tag(tweet.image, class: "card-img-top", alt: "ツイートの画像"), tweet_path(tweet) %>
      <div class="card-body p-3">
        <h5 class="card-title mb-0"><%=tweet.title %></h5>
      </div>
      <div class="card-body p-3">
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get, class: "card-link" %>
          <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete, class: "card-link" %>
        <% end %>
        <div id="likes_buttons_<%= tweet.id %>", class="float-right">
          <%= render partial: 'likes/like', locals: { tweet: tweet } %>
        </div>
      </div>  
    </div>
  <% end %>
</div>
</div>
<div class="mx-auto mt-3">
  <%= paginate(@tweets) %>
</div>
